<h3>Mensagens</h3>
	
	<script>
		contents = [];
	</script>
<% for @message in @messages %>		
	<div class="row">
		<hr/>
		<div class="two columns">
			De <%= @message.sender.name %>
		</div>
		<div class="two columns end">
			Para <%= @message.recipient.name %>
		</div>
	</div>
	
	<div class="row"> 
		<div class="five columns">
			<h5><%= @message.title %></h5>
		</div>
	</div>
		
	<div class="row">
		<div class="four columns end">
			<p><%=@message.text%></p>
		</div>
	</div>
	
	<script>
	$(document).ready(function() {
	 	contents.push(<%=@message.id%>);
	});
	</script>
	<div id="resposta-<%= @message.id %>">
	<%= link_to "Responder", new_reply_url(:message_id => @message.id), :id => "responder-#{@message.id}" %>
	</div>
	<%= render "replies/view_replies" %>

	<div id="form-content-<%= @message.id %>"></div>
<% end%>

<script>
	$(document).ready(function() {
	 	window.registerClick(contents);
	});
</script>