<h3>Mensagens</h3>
	
<% for @message in @messages %>
	<div style="background-color">
		
	<div class="row">
		<hr/>
		<div class="two columns">
			De <%= @message.sender.name %>
		</div>
		<div class="two columns end">
			Para <%= @message.recipient.name %>
		</div>
	</div>
	
	<div class="row"> 
		<div class="five columns">
			<h5><%= link_to @message.title, message_path(@message) %></h5>
		</div>
	</div>
		
	<div class="row">
		<div class="four columns end">
			<p><%=@message.text%></p>
		</div>
	</div>

	<%= render "replies/view_replies" %>

<% end%>