<h3><%= @message.title%> </h3>

<p>
	<b>Mensagem:</b> <%= @message.text%>
</p>
<b>Respostas:</b><br/>
<ul>
	<% for reply in @message.replies %>
		<div class="row">
			<div class="one column">
			</div>
		
			<div class="two columns end">
				<%=reply.user.name%>
			</div>
			
			<div class="three columns end">
				<%= reply.text %>  
			</div>

		</div>
	<% end %>
</ul>
<%= simple_form_for(@reply) do |f| %>
	<%= f.error_notification %>
  
	<div class="row">
		<div class="four columns">
	<%= f.input :text, :as => :text, :input_html => {:rows => 3}, :label => "	Responda essa mensagem", required: true%>
		</div>
		<%= f.input :message_id, :as => :hidden, :input_html => {:value => @message.id} %>
	</div>
	<%= f.submit %>
<% end %>
