<h3><%= @message.title%> </h3>

<div class="row">
	<div class="two columns">
		De <%= @message.sender.name %>
	</div>
	<div class="two columns end">
		Para <%= @message.recipient.name %>
	</div>
</div>
<p>
	<b>Mensagem:</b> <%= @message.text%>
</p>

<%= render "replies/view_replies"%>

<div id="resposta">
<%= link_to "Responder", new_reply_url(:message_id => @message.id), :remote => true, :id => "responder" %>
</div>

<div id="form-content"></div>