<div class="row" style="margin-bottom:30px">
	<span class="title"><%= t(".title") %></span>
	<hr class="separador"/>
</div>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t(".submit"), :class => "button small secondary" %></div>
<% end %>