<script>
	items = [];
</script>
<div class="row" style="margin-bottom: 20px">
	<div class="three columns">
		<%= image_tag(@user.avatar.url(:thumb)) %>
	</div>
	<div class="eight columns end">
		<h3><%= @user.name %></h3>
	</div>
</div>


<div class="row" style="margin-bottom:30px">
	<span class="title user">MEUS ITENS</span>
	<hr class="separador user"/>
</div>

<% if @items.empty? %>
	<div class="sub title user center">Não há itens</div>
<%else%>
	<div class="row user sub title table-header">

		<div class="two columns">
			TÍTULO
		</div>

		<div class="four columns">
			DESCRIÇÃO
		</div>

		<div class="two columns">
			DATA
		</div>

		<div class="two columns">
			RECOMPENSA
		</div>

		<hr class="separador user"/>
	</div>

		<% @items.each_with_index do |item, i| %>
		<% @item = item; @messages = @item.messages %>
		<div class="row tags table <%= 'impar' if i%(2) == 0 %>" id="item-<%= item.id %>" style="cursor: pointer; border-color:#D94;">

			<div class="two columns text">
				<span class ="user <%item.lost? ? 'lost' : 'found'%>">
					<%= item.title %>
				</span>
			</div>

			<div class="four columns text">
				<%= item.description %>
			</div>

			<div class="two columns text">
				<%= item.show_date %>
			</div>

			<div class="two columns text">
				<%= item.reward %>
			</div>
			
		</div>
	
		<div class="row" id="informacoes-<%= item.id%>" style="border-color:#D94; display:none">		
			<%= render 'item_info'%>
		</div>
	
		<script>
		$(document).ready(function() {
		 	items.push(<%=@item.id %>);
		});
		</script>
	<% end %>
<% end %>

<div class="row" style="margin-bottom:30px; margin-top: 30px">
	<span class="title other">ITENS QUE MANDEI MENSAGEM</span>
	<hr class="separador other"/>
</div>

<% if @others_items.empty? %>
	<div class="sub title other center">Não há itens</div>
<%else%>

	<div class="row other sub title table-header">

		<div class="two columns">
			TÍTULO
		</div>

		<div class="four columns">
			DESCRIÇÃO
		</div>

		<div class="two columns">
			DATA
		</div>

		<div class="two columns">
			RECOMPENSA
		</div>

		<hr class="separador other"/>
	</div>

		<% @others_items.each_with_index do |item, i| %>
			<% @item = item; @messages = @item.user_messages(current_user) %>

			<div class="row tags table <%= 'impar' if i%(2) == 0 %>" id="item-<%= item.id %>" style="cursor: pointer; border-color:#964;">


				<div class="two columns text">
					<span class ="user <%item.lost? ? 'lost' : 'found'%>">
						<%= item.title %>
					</span>
				</div>

				<div class="four columns text">
					<%= item.description %>
				</div>

				<div class="two columns text">
					<%= item.show_date %>
				</div>

				<div class="two columns text">
					<%= item.reward %>
				</div>
			</div>
	
			<div class="row" id="informacoes-<%= item.id%>" style="border-color:#964; display:none">		
				<%= render 'item_info'%>
			</div>
	
			<script>
				$(document).ready(function() {
			 		items.push(<%=@item.id %>);
				});
			</script>
		<% end %>
<% end %>

<script>
	$(document).ready(function() {
		
		for (i in items) {
			console.log($("#item-" + items[i]))
			$("#item-" + items[i]).click(function() {
				console.log(this);
				_id = (this.id.split('-')[1]);
				$("#informacoes-" + _id).toggle(0.1, function() {
					
					_id = (this.id.split('-')[1]);
					if(this.style.display != 'none') {
						$('#item-' + _id).css("border-style", "solid");
						$('#item-' + _id).css("border-width", "2px 2px 0px 2px ");
						$('#informacoes-' + _id).css("border-style", "solid");
						$('#informacoes-' + _id).css("border-width", "0px 2px 2px 2px ");
					}
					
					else {
							$('#item-' + _id).css("border-style", "none");
							$('#informacoes-' + _id).css("border-style", "none");
					}
					
				});
				console.log($("#informacoes-" + _id));
			});
		}
	});
</script>

<script>
	$(document).ready(function() {
	 	window.registerClick(contents);
		
		for (i in contents) {
			$("#message-" + contents[i]).click(function() {
				_id = (this.id.split('-')[1]);
				console.log($("#respostas-" + _id))
				$("#respostas-" + _id).toggle();
			});
		}
	});
</script>

