<div class="row" style="margin-bottom:30px">
	<span class="title"><%= t(".title") %></span>
	<hr class="separador"/>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
	
		<div class="one column">
	  	<%= f.label :email %>
		</div>
	
		<div class="three columns">
			<%= f.email_field :email %>
		</div>
	
		<div class="seven columns">
		</div>
	</div>

  <div><%= f.submit t(".submit") %></div>
<% end %>

<%= render "devise/shared/links" %>
