<div class="row" style="margin-bottom:30px">
	<span class="title"><%= t(".title") %></span>
	<hr class="separador"/>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
	
		<div class="two column">
	  	<%= f.label :email %>
		</div>
	
		<div class="three columns">
			<%= f.email_field :email %>
		</div>
	
		<div class="seven colums">
		</div>
	</div>
	
	<div class="row">
		<div class="two column">
			<%= f.label :password %>
		</div>

		<div class="three columns">
			<%= f.password_field :password %>
		</div>
		
		<div class="seven colums">
		</div>
	</div>

  <% if devise_mapping.rememberable? -%>
		<div class="row">
			
			<div class="two columns">
				<%= f.label :remember_me %>
			</div>
			<div class="one column">
				<%= f.check_box :remember_me %>
			</div>
			<div class="nine columns">
			</div>
		</div>
  <% end -%>

  <div class="submit"><%= f.submit t(".submit"), :class => "button small secondary" %></div>
<% end %>