<h1>Listagem de itens</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
		<td><%= item.title %></td>
		<td><%=l item.lost_date %></td>
    <td><%= link_to 'Mostrar', item %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Cadastrar item perdido', new_lost_items_path %> |
<%= link_to 'Cadastrar item encontrado', new_found_items_path %>

