<div class="row">
	<div class="two columns">
		<%= image_tag @item.user.avatar.url(:thumb)%> 
	</div>
	<div class="two columns end">
		<h5 style="margin-top:30px"><%= @item.user.name %></h5>
	</div>
	<div class="two columns end">
		<h5 style="margin-top:30px"><%= @item.lost? ? "Perdeu" : "Encontrou"%></h5>
	</div>
</div>
<h3><%= @item.title %></h3>
<h4 style="color: green; text-align: center;"><%= @item.lost? ? "Item recuperado" : "Item devolvido" if @item.returned %>
</h4>
<div class="row">
	<div class="four columns" style="text-align: center;">
			<%= link_to image_tag(@item.main_image_thumb), @item.main_image %>
	</div>
	
	<div class="eight columns">
		<p>Descrição: <%= @item.description%><br/>
		<% if @item.lost? %>
			Recompensa: <%= (@item.reward || "Este item não possui recompensa") %><br/>
		<%end%>
		Data em que o item foi <%= @item.lost? ? "perdido: " : "encontrado: "%>
		<%=l @item.lost_date %>
		</p>
	</div>
</div>

<p>
	Tags: <%= raw @item.tag_list.map {|t| link_to(t, tag_path(t))}.join(', ') %>
</p>

<% if current_user && (@item.user != current_user) %>
<div class="row">
	<%= render "messages/send_message"%>
</div>
<%end%>

<div class="row">
	<%if can? :update, @item%>
		<%= link_to 'Editar', edit_item_path(@item) %>
	<% end%>
	
</div>