<div class="row" style="margin-bottom: 20px">
	<div class="row">
		<div class="two columns">
			<%= image_tag @item.user.avatar.url(:thumb)%> 
		</div>
	</div>
	
	<div class="two columns end title <%= @item.lost? ? "lost" : "found"%>">
		<%= @item.user.name %>
	</div>	
	<hr class="separador <%= @item.lost? ? "lost" : "found"%>" />
	<div class="two columns end sub title <%= @item.lost? ? "lost" : "found"%>">
		<%= @item.lost? ? "Perdeu" : "Encontrou"%>
	</div>
</div>

<%  if @item.returned %>
	<h4 style="color: green; text-align: center;"><%= @item.lost? ? "Item recuperado" : "Item 	devolvido" %>
	</h4>
<% end %>
<div class="row item-data">
	<div class="three columns">
			<%= link_to image_tag(@item.main_image_medium), @item.main_image %>
	</div>
	
	<div class="eight columns end">
		<div class="six columns">
			<p class="sub title"><%= @item.title %></p>
		
			<p><%= @item.description%></p>
		</div>
			
		<div class="six columns end">	
			<p>Data em que o item foi <%= @item.lost? ? "perdido: " : "encontrado: "%><br />
			<%=l @item.lost_date %></p>
		
			<% if @item.lost? %>
				<p>Recompensa: <br/> <%= (@item.reward.empty? ? "Este item não possui recompensa" : @item.reward) %></p>
			<%end%>
			
			<p>Tags: <br/> <%= raw @item.tag_list.map {|t| link_to(t, tag_path(t))}.join(', ') %></p>
		</div>
	</div>
</div>

<% if current_user && (@item.user != current_user) %>
<div class="row">
	<%= render "messages/send_message"%>
</div>
<%end%>

<div class="row">
	<%if can? :update, @item%>
		<%= link_to 'Editar', edit_item_path(@item) %>
	<% end%>
	
</div>