<div class="row" style="margin-bottom: 0px">
	
	<div class="row" style="height: 100px; position: relative">
		<div class="five columns title <%= @item.lost? ? "lost" : "found"%>" style="position: absolute; bottom: 0px">
			<%= @item.user.name %>
		</div>
	
		<div class="two columns end offset-by-eight" style="position: absolute; bottom: 0px">
			<%= image_tag @item.user.avatar.url(:thumb)%> 
		</div>
	</div>
		
	<hr class="separador <%= @item.lost? ? "lost" : "found"%>" />
	
	<div class="two columns end sub title <%= @item.lost? ? "lost" : "found"%>" style="padding-left: 0px; margin-bottom: 20px" >
		<%= @item.lost? ? "Perdeu" : "Encontrou"%>
	</div>
</div>

<%  if @item.returned %>
	<h4 style="color: green; text-align: center;"><%= @item.lost? ? "Item recuperado" : "Item 	devolvido" %>
	</h4>
<% end %>
<div class="row item-data">
	<div class="three columns">
			<%= link_to image_tag(@item.main_image_medium), @item.main_image %>
	</div>
	
	<div class="eight columns end">
		<div class="six columns">
			<p class="sub title"><%= @item.title %></p>
		
			<p><%= @item.description%></p>
		</div>
			
		<div class="six columns end">	
			<p>Data em que o item foi <%= @item.lost? ? "perdido: " : "encontrado: "%><br />
			<%=l @item.lost_date %></p>
		
			<% if @item.lost? %>
				<p>Recompensa: <br/> <%= @item.reward %></p>
			<%end%>
			
			<p>Tags: <br/> <%= raw @item.tag_list.map {|t| link_to(t, tag_path(t))}.join(', ') %></p>
		</div>
	</div>
</div>

<%unless @item.returned? %>
	<% if current_user && (@item.user != current_user) %>
	<div class="row" style="margin-top: 10px">
		<%= render "messages/send_message"%>
	</div>
	<%end%>
<%end%>

<div class="row">
	<%if can? :update, @item%>
		<%= link_to 'Editar', edit_item_path(@item) %>
	<% end%>
	
</div>

<div class="row">
	<div class="six columns offset-by-two center">
		<% unless @recomendeds.empty? %>
			<% if @same_user %>
				<p>Itens <%= @item.lost? ? "encontrados" : "perdidos" %> parecidos com este</p>
			<% else%>
				<p>Itens parecidos com este</p>
			<%end%>

		<% end %>
			<% for recomended in @recomendeds %>
				<div class="five columns center end" style="padding: 10px; margin:10px">
					<%= link_to(item_path(recomended)) do %>
						<span>
							<%= image_tag @item.user.avatar.url(:thumb) %>
							<p><%= recomended.title %></p>
						</span>
					<% end %>
				</div>	
			<% end %>
	</div>
</div>