
<div class="row">
	<div class="four columns" style="text-align: center;">
			<%= link_to image_tag(@item.main_image_thumb), @item.main_image%>
	</div>
	
	<div class="eight columns">
		<p>Descrição: <%= @item.description%><br/>
		Recompensa: <%= @item.reward || "Este item não possui recompensa"%></p>
	</div>
	<%= @item.returned? ? "Item recuperado" : "" %>
</div>

<div class="row">
	<%= render "messages/send_message"%>
</div>


<div class="row">
	<%= link_to 'Editar', edit_item_path(@item) %> |
	<%= link_to 'Voltar', items_path %>
</div>