<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACHUSP</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container" class="container">

      <header style="margin-bottom:10px">
					<div class="row" style="text-align: right">
        		<%= render 'layouts/navigation' %>
					</div>
				
				<div class="row" style="margin-bottom:10px">
					<div class="three columns" style="font-size:2.5em;">
						<a href="/" class="logo">ACH<span style="font-weight:bold">USP</span></a>
					</div>
					<div class="nine columns">
					</div>
				</div>
			
      </header>
			<div class="row" style="position: relative">
				<div class="twelve columns" style="margin-bottom:20px;">
      		<%= render 'layouts/messages' %>
				</div>
			</div>
      <div id="main" role="main" class="row">
        <%= yield %>
      </div>
      <footer style="margin-top:10px; background-color:#666; height:50px; color:#EEE; padding: 15px; width:100%;position: absolute; bottom: 0px;">
	<div class="row">
			<div class="two columns" >
											<%= link_to(image_tag("botao_facebook.png", {:size => '32x32', :style => "margin-bottom: 0px; position:relative; bottom: 5px; left: 80px "}), "https://www.facebook.com/pages/Achusp/368103986620301", :style => "margin: 0px; padding:0px; font-size: 0px ")%>
			</div>
			<div class="four columns end">
	
				<%= link_to "Home", root_path%>
				<%=	link_to "Sobre o ACHUSP", about_path %>
				<%= link_to "Contato", contact_path%>
				
			
			</div>
			<div class="one column"></div>
			Site licenciado sob a <a style="margin:0px" href="http://www.gnu.org/licenses/agpl.html">GNU AGPL</a> versão 3 ou superior
			</div>
      </footer>
    </div> <!--! end of #container -->
  </body>
</html>
